---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.navbar-default{
  background-color: #000;
  border: none;
  border-radius:0;
}
.page-content{
}
a.site-title{
  color: #fff;
}

.img-post{
  position: relative;
  margin: 20px 0 80px 0;
  width: 100%;
  height: 100%;
  min-height: auto;
  text-align: center;
  background-image: url(../assets/1.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.img-post h1{
  padding: 10%;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.in-post-head{
  text-align: center;
}
.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a{
  color: #fff;
}
img{
  padding: 10px;
}
ul.post-list,article.post{
  -webkit-box-shadow: 0px 0px 33px 3px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 33px 3px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 33px 3px rgba(0,0,0,0.45);
}
article.post{
  margin:5% 5% 5%;
  padding: 5%;
}
